.page-hdr {
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #3379D5;
  color: black;
  border-bottom: 1px solid #f8f9fa;
}

.page-hdr-inner {
  position: relative;
  height: 100%;
}

.menu-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.menu-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

/* 제목은 중앙 정렬 */
.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.1em;
  color: white;
}

body { 
    background-color: white; 
}

.chat-box {
    position: absolute;
    top: 54px;
    bottom: 0;
    left: 50%;                     /* 가운데 기준 위치 */
    transform: translateX(-50%);   /* 가운데 정렬 */
    width: 70%;                    /* 가로 너비 40% */
    display: flex;
    flex-direction: column;
}
  
.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: white;
    color: white;

}

.chat-input { 
    display: flex;
}
.chat-input input { 
    flex: 1; margin-right: 10px; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .custom-file-upload:hover {
    background-color: #45a049;
  }
  
  input[type="file"] {
    display: none;
  }

.form-label {
  color: black;
  font-size: 14px;
}
